
body {
	padding: 2em 6em;
}
	

/* Text Styles
--------------------------------------------- */
h1{
	text-align: center;
	text-decoration:none ;
	text-transform:lowercase ;
}
a{
	text-decoration: none;
}