body {
  padding-top: 50px;
  text-align: center;
}

/* Shapes */
.square,
.circle,
.ellipse {
  display: inline-block;
  margin: 0 15px;
  background-color: lightcoral;
  width: 200px;
}
.square,
.circle {
  height: 200px;
}
.circle,
.ellipse {
  border-radius: 50%;
}
.ellipse {
  height: 120px;
}
