/* ------------------------
	Linear Gradients
--------------------------- */

.box {
  width: 700px;
  height: 500px;
  margin: 35px auto;
  border-radius: 15px;
  background: linear-gradient(to left,orange 10%, darkblue 50%, green 75%);
}
