body {
	padding-top: 35px;
	font: 1.1em/1.5 sans-serif;
}
.main {
	margin: auto;
	padding: 10px 20px 20px;
	width: 760px;
	border: 1px solid;
}

/* Using Combinators */
/* Child combinator  ===== > */
/* .main > a{
	background-color: red;
	color: white;
} */

/*  Descendant combinator  ===== space */
/* .main a{
	background-color: red;
	color: white;
} */
/* Adjacent sibling combinator  ===== + */
/* h2 + p{
	background-color: red;
	color: white
} */
/* General sibling combinator  ===== ~ */
/* h2 ~ p{
	background-color: red;
	color: white
} */