/* h1{
    background-color: black;
    color: white;
}
p{
    background-color: tomato;
    color: white;
}
h2{
    background-color: crimson;
    color: white;
}
span{
    background-color: yellow;
    color: black;
} */
/* *{
    color: red;
} */