
body {
	width: 80%;
	margin: 2.5em auto;
	font: 1.1em/1.3 sans-serif;
}

/* List Styles
--------------------------------------------- */

ul, ol {
	margin-bottom: 2.5em;
}

ul {
	list-style: lower-alpha outside url("./marker.png");
 /* list-style-type: lower-roman;
list-style-position: outside;
list-style-image: url("./marker.png"); */
}
ul li{
	border: 2px solid red;
}

ol {
list-style-type: upper-alpha;
}
