* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid-container {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid-item {
  background-color: skyblue;
  border: 2px solid gray;
  margin: 5px 0;
  padding: 1rem;
}
img{
    width: 200px;
}