/* Class */
.p1{
    background-color: tomato;
    color: white;
}
.header{
    background-color: royalblue;
    color: white;
    font-size: 24px;
    text-align: center;
}
/* Id */
#p2{
    background-color: red;
    color: white;
}
.bold{
    font-weight: bold;
} 
#balablu{
    background-color: royalblue;
}